* {
    margin: 0;
    padding: 0
}

ul, li dl,dd,dt{
    list-style-type: none
}
li{ text-align: -webkit-match-parent;}
i,em{font-style: normal;}
a {  text-decoration: none
}
img{vertical-align: top}
.cf:after {  content: "";  display: table;  clear: both;
}
.cf:after {
    *zoom: 1
}
input,select,textarea{outline:none;cursor:pointer;}
.mins{height:0px!important;}
body {  font: 12px "Microsoft YaHei";  color: #333;  width: 100%;  height: 100%;  position: relative;  background: url(../images/logo/50.jpg) -235px -222px;}

.top {width: 100%;position: relative}
/*                                 QQ登录页面样式                                            */
.top em{text-align: center;display:block;color: white;font-size: 14px;height:24px;line-height: 24px;padding-left: 40px}
.top em a{color:white}
.box {width:80px;height:80px;;cursor: pointer;margin-left:20px;text-align: center}
.box:hover{background: rgba(234,241,255,.1); border-radius: 2px}
.box img{width:50px;position:relative;padding-top: 5px}
.box p{text-shadow: 2px 2px 2px #000;color: white;line-height: 30px}
.box1 {width: 430px;height:330px;background-color:  #ebf2f9;display: none;position: absolute;left:470px;top:200px;border-radius: 5px}
.box2{background: url(../images/logo/qqb.jpg) no-repeat;width: 430px;height:182px;position: relative;border-radius: 5px 5px 0 0}
.box2 .span {width: 30px;height:30px;position: absolute;right: 60px;text-align: center;line-height: 30px;
    top:0;}
.box2 .span img{padding-top: 10px}
.box2 .span1 {width: 30px;height:30px;position: absolute;right: 30px;line-height: 30px;
    top:0}
.box2 .span2 {width: 30px;height:30px;position: absolute;right: 1px;line-height: 30px;
    top:0}
.box2 .span:hover{background: #3a95de}
.box2 .span1:hover{background: #3a95de}
.box2 .span2:hover{background: #ea4848}
.box3 {width: 194px;height:140px;float: left}
.box3 a{width: 95px;height: 30px;display: block;float: right}
.box4{width:133px;height:148px;float: left}
.box4 img {width: 80px;height:80px;margin: 12px 0 0 40px;border: 1px solid #ccc}
.box5{margin-top: 12px}
.box5 .p input{border:1px solid #ccc;border-bottom: none;border-radius: 4px 4px 0 0}
.box5 .p1 input{border:1px solid #ccc;border-radius: 0 0 4px 4px}
.box5 input {;height:25px;outline:none;border:0 none;  padding: 0 7px;  font-size: 12px;  width: 182px;  }
.box6 input{margin :10px 0 12px 0;text-align: center}
.box7 input{width: 194px;height:30px;font-weight: 600;
    line-height:30px;background: #09a3dc;color: white;font-size: 14px;text-align: center;border-radius: 5px;outline: none;border: 0 none}
.box8 {width: 80px;height:40px;float: right;margin: 15px 8px 0 0}
.box8 a{;width: 80px;height:30px;color: blue;display: block;}
.box8 a:hover{color: #1b9ff4}


/*                                 QQ登录成功页面样式                                            */


/*------------------------QQ页面上部分-------------------------------*/
.box-1{width: 280px;height:700px;position: absolute;right: 30px;top:10px;display: none;
background: #fff}
.qq-top{width: 280px;height:165px;background-image: url(../images/logo/qq-bg.jpg);position: relative}
.qq-top dl{width: 178px;height:36px;margin-top:25px}
.qq-top dl dt{float: left;width: 90px;height:36px;line-height: 36px;font-size: 20px;text-indent: 10px;padding-right: 6px}
.qq-top dl dd{float: left;height:10px;padding: 10px 0 0 6px}
.qq-top-1 {width: 280px;height:28px;position: relative}
.qq-top-1 .span5 img{ margin-left:5px; vertical-align: top;padding-top: 5px}
.qq-top-1 .span3{position: absolute;right: 30px;top:0}
.qq-top-1 .span4{position: absolute;right: 0;top:0}
.qq-top-1 .span3:hover{background: #e2d7c8}
.qq-top-1 .span4:hover{background: #ea4848}
.qq-top-2 input{width: 260px;height:17px; outline: none;background: none;border: none;text-indent: 10px;color: #333}
.qq-top-3 {  width: 270px;  margin: 4px 0 4px 8px;  height: 20px;}
.qq-top-3 li{  float: left;  width: 20px;  height: 20px;  background-image: url(../images/logo/top-menu.png);  cursor: pointer;  margin-right: 3px;}
.qq-top-3 li:hover{box-shadow: 0 0 2px #000;}
.qq-li{background-position: -19px center;}
.qq-li1{background-position:-40px center;}
.qq-li2{background-position: -60px center;}
.qq-li3{background-position: -80px center;margin-left: 120px}
.qq-li4{background-position: right center;}
.qq-top-5{width: 260px;  float: left;  height: 30px;  padding: 0 10px;  background:url(../images/logo/aaz.png) no-repeat 257px center rgba(0,0,0,.1);  color: #555;  position: absolute;bottom: 0;left: 0;  line-height: 30px;}
/*---------------------------------QQ页面中部分---------------------------------*/
.qq-top-4{width: 100%;float: left;height: 36px;border-bottom: 1px solid #ccc;}
.qq-top-4 ul li{float: left ;width: 25%;height:36px;position: relative;}
.qq-top-4 ul span{float: left;width: 20px;height: 20px;margin: 8px 25px;-webkit-transition: all 0.5s;}
.qq-top-4 .span5{background: url(../images/logo/i1.png)no-repeat center top ;}
.qq-top-4 .span5:hover{background: url(../images/logo/i1.png)no-repeat center -20px ;}
.qq-top-4 .span6{background: url(../images/logo/i2.png)no-repeat center top ;}
.qq-top-4 .span6:hover{background: url(../images/logo/i2.png)no-repeat center -20px ;}
.qq-top-4 .span7{background: url(../images/logo/i3.png)no-repeat center top ;}
.qq-top-4 .span7:hover{background: url(../images/logo/i3.png)no-repeat center -20px ;}
.qq-top-4 .span8{background: url(../images/logo/i4.png)no-repeat center top ;}
.qq-top-4 .span8:hover{background: url(../images/logo/i4.png)no-repeat center -20px ;}
.qq-top-4 i{background: url(../images/logo/i5.png)no-repeat center top ;  width: 12px;  height: 6px;  position: absolute;  bottom: -1px;  left: 50%;  margin-left: -6px;  display: none;
}
.qq-li5 i{display: block}
.qq-li5 span{background-position: center bottom!important;}
.qq-top-6{  outline: none;  width: 100%;  float: left;  height: 439px;  border-bottom: 1px solid #ccc; overflow: auto;
}
.qq-top-6 li {  width: 100%;  height: 54px;  border-top: 1px solid #ccc;  background-color: #fdecaa;  opacity: 0;
}
.qq-top-6 li img:hover{box-shadow: 0 0 2px #000;}
.qq-top-6 .qq-top-img{  width: 40px;  height: 40px;  margin: 6px;  border: 1px solid #fff;  float: left;  border-radius: 4px;
    }
.qq-top-img img {  width: 100%;  height: auto;  border-radius: 2px;
}
.qq-top-6 .qq-top-name{ width: 209px;  float: left;  margin-top: 7px;  height: 20px;  line-height: 20px;}
.qq-top-6 .qq-top-name span{font-size: 14px;  float: left;}
.qq-top-6 .qq-top-name i{float: right;  font-size: 10px;  color: #999;  margin-right: 8px;}
.qq-top-6 .qq-top-name .red{color:red}
.qq-top-txt {  float: left;  width: 209px;  height: 27px;  line-height: 27px;  color: #999;  overflow: hidden;}

/*----------------------QQ页面下部分----------------------------------*/
.qq-top-7{width: 100%;height: 58px}
.qq-top-8{width: 100%;  float: left;  height: 20px;  margin: 7px 0 6px 0;}
.qq-top-8 img{  width: 20px;  height: 20px;  float: left;  vertical-align: middle;
}
.qq-top-8 img:hover{box-shadow: 0 0 2px #000;}
.qq-top-8 ul li{  width: 20px;  height: 20px;  float: left;  margin: 0 4px;  cursor: pointer;}
.qq-top-9{  float: left;  width: 100%;  height: 20px;}
.qq-top-9 img{  width: 20px;  height: 20px;  float: left;  vertical-align: middle;
}
.qq-top-9 ul li{float: left; height: 20px;  margin: 0 5px}
.qq-top-9 span{margin-left: 5px}
/*-------------------------------QQ聊天弹窗----------------------*/
.qq-tq{width: 440px;height:510px;background:#fcf2e5;border-radius: 5px;position: absolute;left: 420px;top:150px;display: none}
.qq-tq1{width: 100%;height:84px;background:url(../images/chat/tt.jpg)no-repeat 180px;border-bottom:1px solid #ccc}
.qq-tq2{float: right}
.qq-tq2 li{  width: 30px;  height: 27px;  float: left;  cursor: pointer;}
.qq-tq2 .qq-tq-li1{background: url(../images/chat/win.png)no-repeat left center}
.qq-tq2 .qq-tq-li1:hover{background: #3a95de url(../images/chat/wins.png)no-repeat left center}
.qq-tq2 .qq-tq-li2{background: url(../images/chat/win.png)no-repeat -30px center}
.qq-tq2 .qq-tq-li2:hover{background:#3a95de url(../images/chat/wins.png)no-repeat -30px center}
.qq-tq2 .qq-tq-li3{background: url(../images/chat/win.png)no-repeat -60px center}
.qq-tq2 .qq-tq-li3:hover{background:#3a95de url(../images/chat/wins.png)no-repeat -60px center}
.qq-tq2 .qq-tq-li4{background: url(../images/chat/win.png)no-repeat right center}
.qq-tq2 .qq-tq-li4:hover{background:#ea4848 url(../images/chat/wins.png)no-repeat right center}

.qq-chat-t-head{width:40px;height:40px;border:1px solid #fff;border-radius:3px;margin:5px 10px;float:left;overflow:hidden;box-shadow:0 0 3px #999;}
.qq-chat-t-head img{width:100%;height:auto;}
.qq-chat-t-name{width:240px;height:24px;line-height:24px;font-size:18px;float:left;margin-top: 8px}


.qq-tq5{float: left;width: 260px;height:18px;line-height: 18px;text-align: left;}

.qq-tq6{width: 100%;height:32px;float: left}
.qq-tq6 ul li{float: left;margin:5px 0 0 10px}
.qq-tq6 ul li img{;width: 26px;height:26px;float: left}
.qq-tq6 ul li img:hover{box-shadow: 0 0 2px #000}
/*------------------------------聊天内容框样式---------------------------- */
.qq-tq7{float: left;  width: 100%;  color: #f60;  height: 290px;  overflow-y: scroll;  line-height: 20px;}
.qq-tq7 ul{  padding: 10px 0;  float: left;  width: 100%;}
.qq-tq7 li {  margin: 3px 0;  float: left;  width: 100%;}
.blue {
    color: #0034fa!important;
}
.qq-chat-you  span{ float: left;  margin: 0 10px;}
.qq-chat-ner {  color: #666;  width: 400px;  margin: 0 20px;}
    /*-----------------------------------------------------------*/
.qq-tq8{width: 100%;height:136px;float: left;position: relative}
.qq-tq8 ul{width: 100%}
.qq-tq8 ul i {background: url(../images/chat/dsd.png)no-repeat center center;  width: 8px;  height: 20px;  float: left;  margin: 0 2px;}
.qq-tq8 ul li{float: left;margin-left: 5px;width: 20px;height:20px}
.qq-tq8 .qq-tq-li6{width: 34px;height:22px}
.qq-tq8 .qq-tq-li6 span{float: left}
.qq-tq8 .qq-tq-li5 span{float: left}
.qq-tq8 .qq-tq-li5{width: 80px;height:22px;float: right;margin-right: 5px}
.qq-tq8 ul li:hover{box-shadow: 0 0 2px #000}
.qq-tq-span{width: 68px;height:24px;position: absolute;right: 95px;bottom:20px;text-align: center;line-height: 24px;cursor: pointer;
    border-radius: 3px;background: #ea4848;color: white}
.qq-tq-span1{width: 87px;height:24px;position: absolute;right: 5px;bottom: 20px;text-indent: 15px;
    line-height: 24px;background:#ea4848 url(../images/chat/fa.png)no-repeat 60px center;
    border-radius: 3px;color: white;cursor: pointer;}
 /*-----------------------------聊天输入框样式---------------------------*/
#qq-chat-text {  width: 420px;  height: 69px;  max-width: 420px;  max-height: 69px;  float: left;  margin: 0 10px;  background: none;  line-height: 20px;  color: #999;  border: none;
}
.qq-chat-my span,.qq-chat-you span{float:left;margin:0 10px;}
.qq-chat-ner{color:#666;width:400px;margin:0 20px;}
/*------------------------------------------------------------*/